---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Leo Strangman." 
        primaryColor="#593636" 
        primaryContrastColor="#e4c787" 
        secondaryColor="#F2E2C0" 
        secondaryContrastColor="#945442" 
        tertiaryColor="#9ab28a" 
        tertiaryContrastColor="#192727" 
        quaternaryColor="#9ab28a" 
        quaternaryContrastColor="#593636" 
        pageTitle = "ABOUT ME">
    <div class="mouse-circle"></div>

    <div class="u-z-2 background-color u-relative">
        <div class="link-box-wrapper">
            <div class="line-container hover-text u-h-[50vh] u-w-full" id="lines-wrapper"></div>

            <div class="scroll-container-manual u-mt-fluid-xl u-w-full">
                <ul class="scroll-track-manual">
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* Hi, I am Leo Strangman [LCS] */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> /* I'm a developer and designer passionate about merging technical innovation with creative design </li>
                            <li class = "vertical-item hover-text glitchable"> /* I craft responsive, accessible interfaces that prioritize seamless user experiences </li>
                            <li class = "vertical-item hover-text glitchable"> /* I thrive on collaborative software engineering and solving complex technical challenges </li>
                            <li class = "vertical-item hover-text glitchable"> /* I believe great software balances clean code architecture with meaningful user impact </li>
                        </ul>
                    </li>
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* I am a Senior CS/DS Student */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> /* I am from Boston, MA, and I attend Worcester Polytechnic Institute </li>
                            <li class = "vertical-item hover-text glitchable"> /* Specialized in software engineering, UI/UX design, AI/ML, web development, and data science </li>
                            <li class = "vertical-item hover-text glitchable"> /* Developed major projects including web/mobile applications, system tools, and UI designs </li>
                            <li class = "vertical-item hover-text glitchable"> /* Completed projects in large teams following Agile methodologies, Git, and code review processes </li>
                        </ul>
                    </li>
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* Experience in WebDev/SoftEng */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> /* Past internship with Massachusetts General Hospital </li>
                            <li class = "vertical-item hover-text glitchable"> /* Provided experience in front and back-end website development and software engineering </li>
                            <li class = "vertical-item hover-text glitchable"> /* Worked to automate data analysis collected with biomedical research equipment used aboard the ISS </li>
                            <li class = "vertical-item hover-text glitchable"> /* Gained practical insights into the development process and sparked further interest in my work </li>
                        </ul>
                    </li>
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* Currently Open to Work */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> /* Actively seeking full-time employment opportunities </li>
                            <li class = "vertical-item hover-text glitchable"> /* Eager to contribute to meaningful projects while growing as a developer </li>
                            <li class = "vertical-item hover-text glitchable"> /* Open to entry-level opportunities in web development, software engineering, and data science </li>
                            <li class = "vertical-item hover-text glitchable"> /* Ready to bring technical skills and collaborative mindset to dynamic development teams </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="resume-box-wrapper u-mt-fluid-xl u-w-full">
                <div class="u-w-full resume-box u-text-center u-flex u-items-center u-justify-center">
                    <a class = "glitchable resume-box-text u-tracking-wide hover-text" href="/resume">RESUME</a>
                </div>
            </div>

            <div class="scroll-container u-mt-fluid-xl u-h-[50vh] u-w-full">
                <ul class="scroll-track">
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Open to Work */</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/index-scripts.js" type="module"></script>
    <script src="/scripts/line-canvas.js" type="module"></script>
</Layout>
