---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Leo Strangman." 
        primaryColor="#593636" 
        primaryContrastColor="#e4c787" 
        secondaryColor="#F2E2C0" 
        secondaryContrastColor="#945442" 
        tertiaryColor="#9ab28a" 
        tertiaryContrastColor="#192727" 
        quaternaryColor="#9ab28a" 
        quaternaryContrastColor="#593636" 
        pageTitle = "ABOUT ME">

    <div class="u-z-2 background-color u-relative">
        <div class="link-box-wrapper">
            <div class="line-container hover-text u-h-[50vh] u-w-full" id="lines-wrapper"></div>

            <div class="scroll-container-manual u-mt-fluid-xl u-w-full">
                <ul class="scroll-track-manual">
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* Hi, I am Leo Strangman [LCS] */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> I am a developer and designer who loves to combine innovative technology with unique design </li>
                            <li class = "vertical-item hover-text glitchable"> I have always been fascinated by computers - the physical hardware and the software that brings it to life</li>
                            <li class = "vertical-item hover-text glitchable"> I enjoy crafting responsive, accessible interfaces that provide seamless user experiences </li>
                            <li class = "vertical-item hover-text glitchable"> I also thrive on collaborative software engineering and solving complex challenges in interesting ways </li>
                        </ul>
                    </li>
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* I am a Senior CS/DS Student */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> Originally from Boxford, MA, I currently attend Worcester Polytechnic Institute </li>
                            <li class = "vertical-item hover-text glitchable"> I have enjoyed learning about software engineering, web development, UI/UX design, AI/ML, and data science </li>
                            <li class = "vertical-item hover-text glitchable"> My work has led me to love designing interfaces and building the systems behind them </li>
                            <li class = "vertical-item hover-text glitchable"> I have learned that the best projects are a mix of good design and better engineering </li>
                        </ul>
                    </li>
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* My Experience */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> I completed an internship with Massachusetts General Hospital working on space medicine research </li>
                            <li class = "vertical-item hover-text glitchable"> I redeveloped websites for multiple labs and organizations within Massachusetts General Hospital </li>
                            <li class = "vertical-item hover-text glitchable"> I worked to automate data analysis collected with biomedical research equipment used aboard the ISS </li>
                            <li class = "vertical-item hover-text glitchable"> Real world experience in the field helped to spark further interest and passion in my work </li>
                        </ul>
                    </li>
                    <li class="scroll-text-manual">
                        <div class = "scroll-section-title hover-text glitchable">/* I Am Open to Work */</div>
                        <ul class = "vertical-list">
                            <li class = "vertical-item hover-text glitchable u-mt-s"> I am looking for my first full-time role where I can meaningfully contribute to a team </li>
                            <li class = "vertical-item hover-text glitchable"> I am eager to continue my growth as a developer and see the real-world impacts of my abilities </li>
                            <li class = "vertical-item hover-text glitchable"> Whether it's front-end, back-end, or diving into the data, I am excited to explore the field </li>
                            <li class = "vertical-item hover-text glitchable"> I want to work with people who are as excited about the work they do as I am </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="resume-box-wrapper u-mt-fluid-xl u-w-full">
                <div class="u-w-full resume-box u-text-center u-flex u-items-center u-justify-center">
                    <a class = "glitchable resume-box-text u-tracking-wide hover-text" href="/resume">RESUME</a>
                </div>
            </div>

            <div class="scroll-container u-mt-fluid-xl u-h-[50vh] u-w-full">
                <ul class="scroll-track">
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Open to Work */</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/index-scripts.js" type="module"></script>
    <script src="/scripts/line-canvas.js" type="module"></script>
</Layout>
