---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Leo Strangman." 
        primaryColor="#2a2d17" 
        primaryContrastColor="#e4c787" 
        secondaryColor="#e4c787" 
        secondaryContrastColor="#192727" 
        tertiaryColor="#F2E2C0" 
        tertiaryContrastColor="#945442" 
        quaternaryColor="#9ab28a" 
        quaternaryContrastColor="#593636" 
        pageTitle = "CONTACT">
    <div class="mouse-circle"></div>

    <div class="u-z-2 background-color u-relative">
        <div class="link-box-wrapper">
            <div class="line-container hover-text u-h-[50vh] u-w-full" id="lines-wrapper"></div>

            <div class="u-mt-12 u-grid u-grid-cols-1 u-gap-gutter">
                <div class="u-w-full contact-box u-text-center u-flex u-flex-col u-items-center u-justify-center">
                    <div class = "glitchable contact-box-text u-tracking-wide hover-text">Worcester, MA</div>
                    <div class = "glitchable contact-box-title-subtext u-tracking-wide hover-text">Open to Remote Work</div>
                </div>
            </div>

            <div class="u-mt-12 u-grid u-grid-cols-2 u-gap-gutter">
                <div class="u-w-full contact-box u-text-center u-flex u-flex-col u-items-center u-justify-center">
                    <a class = "glitchable contact-box-text u-tracking-wide hover-text" target="_blank" rel="noopener noreferrer" href="mailto:lcstrangman@gmail.com">Email</a>
                    <div class = "glitchable contact-box-subtext u-tracking-wide hover-text">lcstrangman@gmail.com</div>
                </div>
                <div class="u-w-full contact-box u-text-center u-flex u-flex-col u-items-center u-justify-center">
                    <a class = "glitchable contact-box-text tracking-work hover-text" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/leostrangman/">LinkedIn</a>
                    <div class = "glitchable contact-box-subtext u-tracking-wide hover-text">/in/leostrangman</div>
                </div>
            </div>
            <div class="u-mt-12 u-grid u-grid-cols-2 u-gap-gutter">
                <div class="u-w-full contact-box u-text-center u-flex u-flex-col u-items-center u-justify-center">
                    <a class = "glitchable contact-box-text u-tracking-wide hover-text" target="_blank" rel="noopener noreferrer" href="https://github.com/leostrangman/">GitHub</a>
                    <div class = "glitchable contact-box-subtext u-tracking-wide hover-text">/lcstrangman</div>
                </div>
                <div class="u-w-full contact-box u-text-center u-flex u-flex-col u-items-center u-justify-center">
                    <a class = "glitchable contact-box-text tracking-work hover-text" href="/resume">Resume</a>
                    <div class = "glitchable contact-box-subtext u-tracking-wide hover-text">/resume</div>
                </div>
            </div>

            <div class="scroll-container u-mt-fluid-xl u-h-[50vh] u-w-full">
                <ul class="scroll-track">
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Open to Work */</li>
                </ul>
            </div>
        </div>
    </div>

    <script type="module" is:inline src="/src/scripts/index-scripts.js"></script>
    <script type="module" is:inline src="/src/scripts/line-canvas.js"></script>
    <script type="module" is:inline src="/src/scripts/interactive-box-scripts.js"></script>
</Layout>
