---
import Button from '@components/Button/Button.astro';
import Icon from '@components/Icon/Icon.astro';
import Wysiwyg from '@components/Wysiwyg/Wysiwyg.astro';
import Accordion from '@components/Accordion/Accordion.astro';

import Layout from '../layouts/Layout.astro';
---
<Layout title="Leo Strangman.">
    <!-- Hero Section with Fullscreen Background Image -->
    <div class="hero" id="parallax-hero">
        <div style = "display: grid;" class="hero-content">
            <!--<h1 class = "title-font filter-text copy-overlay" id = "parallax-name">Leo Strangman.</h1> -->
            <svg height="100%" width="100%" style="display: grid; grid-column: 1; grid-row: 1;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200" preserveAspectRatio="xMidYMid meet">
                <defs>
                    <clipPath id="svg-title-transp">
                        <text x="15%" y="50%" class="title-font" text-anchor="middle" dominant-baseline="middle">
                            Leo&nbsp
                        </text>
                        <text x="60%" y="50%" class="title-font" text-anchor="middle" dominant-baseline="middle">
                            Strangman.
                        </text>
                    </clipPath>
                </defs>
            </svg>
            <svg height="100%" width="100%" style="display: grid; grid-column: 1; grid-row: 1;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200" preserveAspectRatio="xMidYMid meet">
                <g id="svg-title">
                    <text x="15%" y="50%" class="title-font" text-anchor="middle" dominant-baseline="middle" fill = "white" >
                        Leo&nbsp
                    </text>
                    <text x="60%" y="50%" class="title-font" text-anchor="middle" dominant-baseline="middle" fill = "white" >
                        Strangman.
                    </text>
                </g>
            </svg>
            <div id = "svgtitlecopy" class = "clipped title-font"></div>
            <div id = "svgtitlecopy" class = "svg-title title-font"></div>
            <div class = "icon-text-wrapper filter-text">
                <div id = "parallax-logo"><Icon name="icon-white" class = "icon"/></div>
                <h2 id = "parallax-title">Developer</h2>
            </div>
        </div>
    </div>

    <header class="u-container">
        <button class="shortcut-functions">Test</button>
    </header>

    <div class="u-container u-mt-fluid-xl">
        <div class="u-grid u-grid-cols-12 u-gap-gutter">
            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>

                <Button href="/about" class="u-mt-fluid-s"> Learn More </Button>
            </div>

            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Wysiwyg tag="article">
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                    <Button href="https://google.ca" target="_blank" class="u-mt-fluid-s">
                        Visit Us
                    </Button>
                </Wysiwyg>
            </div>

            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>
            </div>

            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Accordion label="Accordion summary">
                    <Wysiwyg>
                        <Fragment
                            set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                        />
                    </Wysiwyg>
                </Accordion>
                <Accordion label="Accordion summary">
                    <Wysiwyg>
                        <Fragment
                            set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                        />
                    </Wysiwyg>
                </Accordion>
            </div>
        </div>

        <!-- Placeholder -->
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-black u-opacity-50"></div>
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-primary"></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const hero = document.getElementById("parallax-hero");
            const name = document.getElementById("parallax-name");
            const title = document.getElementById("parallax-title");
            const logo = document.getElementById("parallax-logo");
            const svg = document.getElementById("svgtitlecopy");
            if (!hero) return; // Exit if the hero element isn't found
            if (!name) return;
            if (!title) return;
            if (!logo) return;
            if (!svg) return;
    
            document.addEventListener("scroll", () => {
                const scrollY = window.scrollY;
    
                // Adjust background position based on scroll position
                hero.style.backgroundPositionY = `${scrollY * 0.5}px`; // Adjust multiplier for effect strength
                name.style.transform = `translateY(${scrollY * -0.2}px)`;
                title.style.transform = `translateY(${scrollY * -0.1}px)`;
                logo.style.transform = `translateY(${scrollY * -0.14}px)`;
                svg.style.transform = `translateY(${scrollY * -0.2}px)`;
            });
        });
    </script>

    <style>
        .hero {
            position: relative;
            height: 100vh;
            background-image: url('/src/assets/images/glassrender.png'); /* Path to your image */
            background-size: cover;
            background-position: center; /* Initial position */
            background-attachment: scroll; /* Allows dynamic updates with JavaScript */
            z-index: 0;
        }


        .hero-content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 2rem;
        }

        /* Optional: Make sure content below is visible on top of hero section */
        header {
            position: relative;
            z-index: 2;
        }
        .filter-text {
            color: white;
            z-index: 3;
            position: relative;
            mix-blend-mode: difference;
            /*backdrop-filter: hue-rotate(90deg);*/
        }

        .icon-text-wrapper {
            display: flex;
            align-items: center; /* Vertically align icon and text */
            gap: 0.5em; /* Space between icon and text */
            padding-left: 0.3em;
            padding-bottom: 0.3em;
        }

        .icon {
            width: 2.5em;
            height: 2.5em;
            z-index: 2;
            position: relative;
        }

        .title-font {
            font-size: 17.5vw;
            line-height: 1.2;
        }

        @media (min-width: 720px) {
            .title-font {
                font-size: 4em;
            }
        }

        .copy-overlay {
            grid-column: 1; 
            grid-row: 1;
        }

        .clipped {
            clip-path: url(#svg-title-transp);
            background: rgba(255, 255, 255, 0);
            backdrop-filter: blur(3px);
            z-index: 2; /* Behind text */
            grid-column: 1;
            grid-row: 1;
        }

        .svg-title {
            color: white;
            position: relative;
            z-index: 2; /* Behind text */
            grid-column: 1;
            grid-row: 1;
        }

    </style>
</Layout>

