---
import Layout from '../layouts/Layout.astro';
import Image from '@components/Image/Image.astro';
import Icon from '@components/Icon/Icon.astro';
---
<!-- Import layout with set variables for page name and color scheme -->
<Layout title="Leo Strangman." 
        primaryColor="#e4c787" 
        primaryContrastColor="#192727" 
        secondaryColor="#9ab28a" 
        secondaryContrastColor="#593636" 
        tertiaryColor="#c8a8a8" 
        tertiaryContrastColor="#2a3a4a" 
        quaternaryColor="#c4a8b8" 
        quaternaryContrastColor="#3a2d2d"
        pageTitle = "INDEX">
    <!-- Hero Section Container -->
    <div class="hero" id="parallax-hero">
        <!-- Fullscreen background image as canvas -->
        <canvas class = "hero-canvas" id = "parallax-canvas"></canvas>

        <!-- Accessibility background for title text -->
        <div class = "accessibility-background hidden" id = "accessibility-background"></div>
        <!-- Accessibility background toggle -->
        <div class="accessibility-wrapper" id = "parallax-accessibility">
            <div class="accessibility-button glitchable hover-text" aria-label="Accessibility Options">Accessible Mode</div>
        </div>
        <!-- Text/svg logo in hero section -->
        <div class="hero-content" id = "hero-content-primary">
            <!-- Name text -->
            <div class = "title-name-background" id = "parallax-name-background"></div>
            <div class = "title-logo-background" id = "parallax-logo-background"></div>
            <div class = "title-role-background" id = "parallax-role-background"></div>
            <h1 class = "title-name-text title-name-color glitchable hover-text" id = "parallax-title-name">Leo Strangman.</h1>
            <!-- Secondary heading text/svg -->
            <div class = "logo-role-wrapper" id = "logo-role-wrapper">
                <!-- Wrapper for main logo svg -->
                <div class = "logo-wrapper" id = "parallax-title-logo">
                    <Icon class = "hover-text" name = "icon-amber-supply">
                </div>
                <!-- Wrapper for secondary logo svg that shows on hover -->
                <div class = "logo-wrapper logo-hover u-hidden "id = "parallax-logo-hover">
                    <Icon class = "hover-text" name = "icon-green-supply" width = "75" height = "75" viewBox="0, 0, 75, 75">
                </div>
                <h2 class = "title-role-text u-mt-1.5 glitchable hover-text" id = "parallax-title-role">Developer</h2>
            </div>
        </div>
        <!-- Alternate hero-content div for when the accessibility mode is selected -->
        <div class="hero-content-alt" id = "hero-content-alt">
           <h1 class = "title-name-text title-name-color-alt glitchable hover-text" id = "parallax-title-name">Leo Strangman.</h1>
        <!-- Secondary heading text/svg -->
           <div class = "logo-role-wrapper-alt">
               <div class = "logo-wrapper" id = "parallax-title-logo">
                    <Icon class = "hover-text" name = "icon-green-supply" width = "75" height = "75" viewBox="0, 0, 75, 75">
               </div>
               <h2 class = "title-role-text u-mt-1.5 glitchable hover-text" id = "parallax-title-role">Developer</h2>
           </div>
       </div>
    </div>

    <!-- Div to correctly display parallax effect with background sliding over image -->
    <div class = "u-z-2 u-relative background-color">
        <!-- Matching wrapper to keep pages consistent -->
        <div class="link-box-wrapper">
            <!-- Standard boxes for page links -->
            <div class="u-w-full u-h-[50vh] link-box u-text-center u-flex u-items-center u-justify-center">
                <a class = "glitchable link-box-text u-tracking-wide hover-text" href="/projects">PROJECTS</a>
            </div>
            <div class="u-w-full u-mt-12 u-h-[50vh] link-box u-text-center u-flex u-items-center u-justify-center">
                <a class = "glitchable link-box-text tracking-work hover-text" href="/work">MY WORK</a>
            </div>
            <div class="u-w-full u-mt-12 u-h-[50vh] link-box u-text-center u-flex u-items-center u-justify-center">
                <a class = "glitchable link-box-text tracking-about hover-text" href="/about">ABOUT ME</a>
            </div>
            <div class="u-w-full u-mt-12 u-h-[50vh] link-box u-text-center u-flex u-items-center u-justify-center">
                <a class = "glitchable link-box-text tracking-contact hover-text" href="/contact">CONTACT</a>
            </div>
        
            <!-- Image grid -->
            <div class="u-mt-12 u-grid u-grid-cols-2 u-gap-gutter">
            <!-- Image container with pixelated canvas acting as the real image -->
                <div class = "image-wrapper u-w-full u-h-full">
                    <canvas class = "pixel-canvas"></canvas>
                    <Image
                        class = "source-image"
                        src= {import('@images/scenery.jpg')}
                        alt = "Scenery"
                        caption=""
                    />
                </div>
                <div class = "image-wrapper u-w-full u-h-full">
                    <canvas class = "pixel-canvas"></canvas>
                    <Image
                        class = "source-image"
                        src={import('@images/leostrangman.jpg')}
                        alt = "Leo Strangman"
                        caption=""
                    />
                </div>
            </div>
            <!-- Container for automatically scrolling text above footer -->
            <div class = "scroll-container u-w-full u-mt-fluid-xl u-h-[50vh]">
                <ul class = "scroll-track">
                    <li class = "scroll-text hover-text glitchable">©2025</li>
                    <li class = "scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
                    <li class = "scroll-text hover-text glitchable">©2025</li>
                    <li class = "scroll-text hover-text glitchable">/* Open to Work */</li>
                </ul>
            </div>
        </div>
    </div>
</Layout>