---
import Layout from '../layouts/Layout.astro';
import InteractiveSection from '../components/InteractiveSection/InteractiveSection.astro';
import ResumeBox from '../components/ResumeBox/ResumeBox.astro';
import ScrollingFooter from '../components/ScrollingFooter/ScrollingFooter.astro';
---

<!-- Import layout with set variables for page name and color scheme -->
<Layout
    title="Leo Strangman."
    primaryColor="#192727"
    primaryContrastColor="#e4c787"
    secondaryColor="#9ab28a"
    secondaryContrastColor="#593636"
    tertiaryColor="#bbb387"
    tertiaryContrastColor="#313804"
    quaternaryColor="#c4a8b8"
    quaternaryContrastColor="#3a2d2d"
    pageTitle="PROJECTS"
>
    <!-- Main container -->
    <div class="u-z-2 background-color u-relative">
        <!-- Matching wrapper to keep pages consistent -->
        <div class="link-box-wrapper">
            <!-- Canvas for the moving line header effect -->
            <div
                class="line-container hover-text u-h-[50vh] u-w-full"
                id="lines-wrapper"
                role="region"
                aria-labelledby="projects-title"
            >
            </div>
            <h1 id="projects-title" class="sr-only">Projects</h1>

            <!-- Content section with experience box -->
             <InteractiveSection
                title="Tablet Interface for Robot Assisted Laser Microsurgery"
                dataPrefix="/projects-"
                bullets={[
                    'Developed a novel tablet-stylus UI/UX for a 7-DOF surgical robot',
                    'Engineered robust safety protocols and assistive features to limit error',
                    'Conducted HCI user studies with surgeons to minimize cognitive load',
                    'Implemented real-time monitoring overlays using TypeScript and Python'
                ]}
                sectionIndex={4}
            />
            <!-- Another content box -->
            <InteractiveSection
                title="leostrangman.com"
                dataPrefix="/projects-"
                bullets={[
                    'Designed and developed personal portfolio website',
                    'Created by utilizing Astro, Tailwind, TypeScript, and Vercel',
                    'Fully responsive and animated design across the full website',
                    'Emphasized technical skill, aesthetic design, and accessibility'
                ]}
                sectionIndex={0}
            />
            <!-- Another content box -->
            <InteractiveSection
                title="ResearchApp"
                dataPrefix="/projects-"
                bullets={[
                    'Created application to post and apply to research positions at a university',
                    'Utilized RESTful APIs to manage user data, research listings, and applications',
                    'Managed class relationships and user info securely with SQL Alchemy and Python',
                    'Established a local server with Python/Flask to access on the university network'
                ]}
                sectionIndex={1}
            />
            <!-- Another content box -->
            <InteractiveSection
                title="Vehicle HUD Design"
                dataPrefix="/projects-"
                bullets={[
                    'Designed heads-up display for use on many vehicles',
                    'Focused on limiting distraction and providing vital information',
                    'Based on HCI heuristics, qualitative user research, and interviews',
                    'Final HUD was chosen to be the most effective and satisfactory design'
                ]}
                sectionIndex={2}
            />
            <!-- Another content box -->
            <InteractiveSection
                title="Exploiting Programs in C and Assembly"
                dataPrefix="/projects-"
                bullets={[
                    'Analyzed decompiled C code to reverse engineer and exploit vulnerabilities',
                    'Crafted inputs and performed control flow manipulation',
                    'Executed advanced stack-based buffer overflow attacks',
                    'Implemented ROP chains to bypass security mechanisms'
                ]}
                sectionIndex={3}
            />

            <!-- Resume page link box -->
            <ResumeBox mode="view" />

            <!-- Container for automatically scrolling text above footer -->
            <ScrollingFooter />
        </div>
    </div>
</Layout>
