---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Leo Strangman." 
        primaryColor="#192727" 
        primaryContrastColor="#e4c787" 
        secondaryColor="#9ab28a" 
        secondaryContrastColor="#593636" 
        tertiaryColor="#bbb387" 
        tertiaryContrastColor="#313804" 
        quaternaryColor="#c4a8b8" 
        quaternaryContrastColor="#3a2d2d"
        pageTitle = "PROJECTS">
    <div class="mouse-circle"></div>

    <div class="u-z-2 background-color u-relative">
        <div class="link-box-wrapper">
            <div class="line-container hover-text u-h-[50vh] u-w-full" id="lines-wrapper"></div>

            <div class="interactive-section u-mt-fluid-xl u-h-[50vh] u-w-full">
                <div class="section-title glitchable hover-text">/* leostrangman.com */</div>
                <div class="section-divider"></div>
                <div class="content-container">
                    <div class="image-display-area">
                        <div class="preview-image" id="preview-image"></div>
                    </div>
                    <div class="boxes-container" data-prefix = "/projects-">
                        <div class="bullet-box" data-image="bullet1">
                            <span class="bullet-title glitchable hover-text tracking-projects-1">Designed and developed personal portfolio website</span>
                        </div>
                        <div class="bullet-box" data-image="bullet2">
                            <span class="bullet-title glitchable hover-text tracking-projects-2">Created by utilizing Astro, Tailwind, TypeScript, and Vercel</span>
                        </div>
                        <div class="bullet-box" data-image="bullet3">
                            <span class="bullet-title glitchable hover-text tracking-projects-3">Fully responsive and animated design across the full website</span>
                        </div>
                        <div class="bullet-box" data-image="bullet4">
                            <span class="bullet-title glitchable hover-text tracking-projects-4">Emphasized technical skill, aesthetic design, and accessibility</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="interactive-section u-mt-fluid-xl u-h-[50vh] u-w-full">
                <div class="section-title glitchable hover-text">/* ResearchApp */</div>
                <div class="section-divider"></div>
                <div class="content-container">
                    <div class="image-display-area">
                        <div class="preview-image" id="preview-image"></div>
                    </div>
                    <div class="boxes-container" data-prefix = "/projects-">
                        <div class="bullet-box" data-image="bullet5">
                            <span class="bullet-title glitchable hover-text tracking-projects-5">Created application to post and apply to research positions at a university</span>
                        </div>
                        <div class="bullet-box" data-image="bullet6">
                            <span class="bullet-title glitchable hover-text tracking-projects-6">Utilized RESTful APIs to manage user data, research listings, and applications</span>
                        </div>
                        <div class="bullet-box" data-image="bullet7">
                            <span class="bullet-title glitchable hover-text tracking-projects-7">Managed class relationships and user information securely using SQL Alchemy and Python</span>
                        </div>
                        <div class="bullet-box" data-image="bullet8">
                            <span class="bullet-title glitchable hover-text tracking-projects-8">Established a local server with Python and Flask to access on the university network</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="interactive-section u-mt-fluid-xl u-h-[50vh] u-w-full">
                <div class="section-title glitchable hover-text">/* Vehicle HUD Design */</div>
                <div class="section-divider"></div>
                <div class="content-container">
                    <div class="image-display-area">
                        <div class="preview-image" id="preview-image"></div>
                    </div>
                    <div class="boxes-container" data-prefix = "/projects-">
                        <div class="bullet-box" data-image="bullet9">
                            <span class="bullet-title glitchable hover-text tracking-projects-9">Designed heads-up display for use on many vehicles</span>
                        </div>
                        <div class="bullet-box" data-image="bullet10">
                            <span class="bullet-title glitchable hover-text tracking-projects-10">Focused on limiting distraction and providing vital information</span>
                        </div>
                        <div class="bullet-box" data-image="bullet11">
                            <span class="bullet-title glitchable hover-text tracking-projects-11">Based on HCI heuristics, qualitative user research, and interviews</span>
                        </div>
                        <div class="bullet-box" data-image="bullet12">
                            <span class="bullet-title glitchable hover-text tracking-projects-12">Final HUD was chosen to be the most effective and satisfactory design</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="interactive-section u-mt-fluid-xl u-h-[50vh] u-w-full">
                <div class="section-title glitchable hover-text">/* Exploiting Programs in C and Assembly */</div>
                <div class="section-divider"></div>
                <div class="content-container">
                    <div class="image-display-area">
                        <div class="preview-image" id="preview-image"></div>
                    </div>
                    <div class="boxes-container" data-prefix = "/projects-">
                        <div class="bullet-box" data-image="bullet13">
                            <span class="bullet-title glitchable hover-text tracking-projects-13">Analyzed decompiled C code to reverse engineer and exploit vulnerabilities</span>
                        </div>
                        <div class="bullet-box" data-image="bullet14">
                            <span class="bullet-title glitchable hover-text tracking-projects-14">Crafted inputs and performed control flow manipulation</span>
                        </div>
                        <div class="bullet-box" data-image="bullet15">
                            <span class="bullet-title glitchable hover-text tracking-projects-15">Executed advanced stack-based buffer overflow attacks</span>
                        </div>
                        <div class="bullet-box" data-image="bullet16">
                            <span class="bullet-title glitchable hover-text tracking-projects-16">Implemented ROP chains to bypass security mechanisms</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume-box-wrapper u-mt-fluid-xl u-h-[50vh] u-w-full">
                <div class="u-w-full resume-box u-text-center u-flex u-items-center u-justify-center">
                    <a class = "glitchable resume-box-text u-tracking-wide hover-text" href="/resume">RESUME</a>
                </div>
            </div>

            <div class="scroll-container u-mt-fluid-xl u-h-[50vh] u-w-full">
                <ul class="scroll-track">
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Open to Work */</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/index-scripts.js" type="module"></script>
    <script src="/scripts/line-canvas.js" type="module"></script>
    <script src="/scripts/interactive-box-scripts.js" type="module"></script>
</Layout>
