---
import Layout from '../layouts/Layout.astro';
import Image from '@components/Image/Image.astro';
---
<!-- Import layout with set variables for page name and color scheme -->
<Layout title="Leo Strangman." 
        primaryColor="#bbb387" 
        primaryContrastColor="#192727" 
        secondaryColor="#192727" 
        secondaryContrastColor="#A2B690" 
        tertiaryColor="#e4c787" 
        tertiaryContrastColor="#593636" 
        quaternaryColor="#9ab28a" 
        quaternaryContrastColor="#593636" 
        pageTitle = "RESUME">

    <!-- Main container -->
    <div class="u-z-2 background-color u-relative">
        <!-- Matching wrapper to keep pages consistent -->
        <div class="link-box-wrapper">
            <!-- Canvas for the moving line header effect -->
            <div class="line-container hover-text u-h-[50vh] u-w-full" id="lines-wrapper"></div>

            <!-- Color matched resume with pixelation effect -->
            <div class="u-mt-12 u-grid u-grid-cols-1 u-gap-gutter">
                <div class = "image-wrapper u-w-full u-h-full resume-background">
                    <canvas class = "pixel-canvas"></canvas>
                    <Image
                        class = "source-image"
                        src= {import('@images/resume.png')}
                        alt = "Leo Strangman Resume"
                        caption=""
                        width={500}
                        height={700}
                    />
                </div>
            </div>

            <!-- Resume download link box -->
            <div class="resume-box-wrapper u-mt-fluid-xl u-w-full">
                <div class="u-w-full resume-box u-text-center u-flex u-items-center u-justify-center">
                    <a class = "glitchable resume-box-text u-tracking-wide hover-text" target="_blank" rel="noopener noreferrer" href="/assets/pdfs/resume.pdf">DOWNLOAD</a>
                </div>
            </div>

            <!-- Container for automatically scrolling text above footer -->
            <div class="scroll-container u-mt-fluid-xl u-h-[50vh] u-w-full">
                <ul class="scroll-track">
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Open to Work */</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/index-scripts.js" type="module"></script>
    <script src="/scripts/line-canvas.js" type="module"></script>
</Layout>
