---
import Layout from '../layouts/Layout.astro';
---
<!-- Import layout with set variables for page name and color scheme -->
<Layout title="Leo Strangman." 
        primaryColor="#9ab28a" 
        primaryContrastColor="#593636" 
        secondaryColor="#C2BA93" 
        secondaryContrastColor="#2A2F04" 
        tertiaryColor="#e4c787" 
        tertiaryContrastColor="#192727" 
        quaternaryColor="#c8a8a8" 
        quaternaryContrastColor="#3a2d2d" 
        pageTitle = "MY WORK">

    <!-- Main container -->
    <div class="u-z-2 background-color u-relative">
        <!-- Matching wrapper to keep pages consistent -->
        <div class="link-box-wrapper">
            <!-- Canvas for the moving line header effect -->
            <div class="line-container hover-text u-h-[50vh] u-w-full" id="lines-wrapper"></div>

            <!-- Content section with work box -->
            <div class="interactive-section u-mt-fluid-xl u-min-h-[50vh] u-w-full">
                <div class="section-title glitchable hover-text">/* MASSACHUSETTS GENERAL HOSPITAL */</div>
                <div class="section-divider"></div>
                <div class="content-container">
                    <div class="image-display-area">
                        <div class="preview-image" id="preview-image"></div>
                    </div>
                    <div class="boxes-container" data-prefix = "/work-">
                        <div class="bullet-box" data-image="bullet1">
                            <span class="justify-stretch bullet-title glitchable hover-text tracking-work-1">Front and back-end website development for the Neural Systems Group</span>
                        </div>
                        <div class="bullet-box" data-image="bullet2">
                            <span class="justify-stretch bullet-title glitchable hover-text tracking-work-2">Automated data analysis collected with biomedical research equipment</span>
                        </div>
                        <div class="bullet-box" data-image="bullet3">
                            <span class="justify-stretch bullet-title glitchable hover-text tracking-work-3">Supported design of a novel biomedical monitoring and brain imaging system</span>
                        </div>
                        <div class="bullet-box" data-image="bullet4">
                            <span class="justify-stretch bullet-title glitchable hover-text tracking-work-4">Aided in redesigning and fabricating housing and sensor components</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resume page link box -->
            <div class="resume-box-wrapper u-mt-fluid-xl u-w-full">
                <div class="u-w-full resume-box u-text-center u-flex u-items-center u-justify-center">
                    <a class = "glitchable resume-box-text u-tracking-wide hover-text" href="/resume">RESUME</a>
                </div>
            </div>

            <!-- Container for automatically scrolling text above footer -->
            <div class="scroll-container u-mt-fluid-xl u-h-[50vh] u-w-full">
                <ul class="scroll-track">
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
                    <li class="scroll-text hover-text glitchable">©2025</li>
                    <li class="scroll-text hover-text glitchable">/* Open to Work */</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/index-scripts.js" type="module"></script>
    <script src="/scripts/line-canvas.js" type="module"></script>
    <script src="/scripts/interactive-box-scripts.js" type="module"></script>
</Layout>
